KMS.UI/bin/
KMS.UI/packages/
KMS.BL/obj/
KMS.DB/obj/
KMS.UI/obj/
KMS.UI/.vs/
/KMS.Service/bin
/KMS.Service/obj/Release
/KMS.UI/Properties/PublishProfiles/kamethi - Web Deploy.pubxml
/KMS.DbScript/bin/Release
/KMS.DbScript/obj/Release
